<section class="ml-4">
  <h4>Select a form to fill</h4>

  <div class="kella-form-list">
    <div class="kella-form-item">
      <div class="title">Etude pilote du programme KELLEWANDA</div>
      <p class="description">Indicateurs de suivi du programme KELLEWANDA au Cameroun</p>

      <div class="actions">

        <a routerLink="data/default" class="kella-btn-delete">Data</a>
        <a routerLink="default/stats" class="kella-btn-analysis">Analysis</a>
        <a routerLink="default" class="kella-btn-open">Open</a>
      </div>
    </div>
  </div>
</section>
